body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.split-pane {
  display: flex;
  flex-direction: column;
}

.split-pane-left,
.split-pane-right {
  flex: 1;
  overflow: hidden;
}

.split-pane-left {
  background: #282c34
}
.split-pane-right {
  background: white
}

.separator {
  border: 2px solid #f09713;
  cursor: col-resize;
}